In [1]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import test_func as tf
%matplotlib inline

In [2]:
files=glob.glob("train/*.csv")
data_list=[]

for file in files:
    data_list.append(pd.read_csv(file,index_col=0))
df=pd.concat(data_list)

C:\Users\fujir\AppData\Local\Temp\ipykernel_13252\759100116.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list.append(pd.read_csv(file,index_col=0))
C:\Users\fujir\AppData\Local\Temp\ipykernel_13252\759100116.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list.append(pd.read_csv(file,index_col=0))

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637351 entries, 1060685 to 47003572
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   種類            637351 non-null  object
 1   地域            0 non-null       float64
 2   市区町村コード       637351 non-null  int64
 3   都道府県名         637351 non-null  object
 4   市区町村名         637351 non-null  object
 5   地区名           637060 non-null  object
 6   最寄駅：名称        634732 non-null  object
 7   最寄駅：距離（分）     614306 non-null  object
 8   間取り           615609 non-null  object
 9   面積（㎡）         637351 non-null  object
 10  土地の形状         0 non-null       float64
 11  間口            0 non-null       float64
 12  延床面積（㎡）       0 non-null       float64
 13  建築年           619117 non-null  object
 14  建物の構造         623423 non-null  object
 15  用途            591214 non-null  object
 16  今後の利用目的       275091 non-null  object
 17  前面道路：方位       0 non-null       float64
 18  前面道路：種類       0 non-null       float64
 19  前面道路：幅員（ｍ）    0 non-null       float64
 20  都市計画          618786 non-null  object
 21  建ぺい率（％）       614848 non-null  float64
 22  容積率（％）        614848 non-null  float64
 23  取引時点          637351 non-null  object
 24  改装            580431 non-null  object
 25  取引の事情等        18275 non-null   object
 26  取引価格（総額）_log  637351 non-null  float64
dtypes: float64(10), int64(1), object(16)
memory usage: 136.2+ MB

In [4]:
nonnull_list=[]

for col in df.columns:
    nonull=df[col].count()
    if nonull==0:
        nonnull_list.append(col)

In [5]:
nonnull_list

['地域', '土地の形状', '間口', '延床面積（㎡）', '前面道路：方位', '前面道路：種類', '前面道路：幅員（ｍ）']

In [6]:
df=df.drop(nonnull_list,axis=1)

In [7]:
df=df.drop(['種類'],axis=1)

In [8]:
df=df.drop(['市区町村名'],axis=1)

In [9]:
df['最寄駅：距離（分）'].value_counts()

6          50928
4          48883
5          45337
8          44277
3          42880
9          38379
7          32369
30分?60分    31999
10         31572
11         30625
2          27100
13         22934
1          19746
14         18759
15         18552
12         15068
16         14354
18         11651
19         10533
20          8910
21          7163
23          6663
25          6169
24          4884
28          4133
26          3996
0           3704
1H?1H30     3624
29          3587
17          2515
22          1082
2H?          826
1H30?2H      692
27           412
Name: 最寄駅：距離（分）, dtype: int64

In [10]:
dis={
'30分?60分':45,
'1H?1H30':75,
'1H30?2H':105,
'2H?':120    
}

In [11]:
df['最寄駅：距離（分）']=df['最寄駅：距離（分）'].replace(dis).astype(float)

In [12]:
pd.options.display.max_rows=None
df['面積（㎡）'].value_counts()

70         70301
65         65176
60         51968
75         47362
20         40770
55         39149
80         32482
50         27629
15         25113
85         19604
25         18841
45         17514
70         13142
65         13113
90         12485
40         12221
60         11289
20         11258
30          9880
35          9482
75          9282
95          9121
55          8035
80          7090
15          5740
25          5654
50          5448
85          4530
100         4501
45          3147
90          2889
40          2785
105         2594
30          2548
35          2174
95          1887
110         1625
115         1176
10          1003
100          925
120          806
105          581
125          562
130          405
110          394
10           310
115          308
135          300
145          215
140          203
120          193
125          162
150          145
130          141
155          131
135           98
160           91
165           79
180           77
140           73
145           72
170           71
190           54
185           53
150           44
175           44
210           43
230           42
200           39
160           38
195           36
155           36
220           30
170           27
180           27
250           22
240           22
260           21
270           20
290           16
185           16
190           15
165           14
210           12
175           12
340           11
330           10
390            9
200            8
310            8
370            8
195            8
320            7
350            7
280            7
360            7
440            7
450            7
480            7
2000㎡以上        7
1000           6
460            6
220            6
320            5
290            5
300            5
500            5
310            4
380            4
760            4
680            4
250            4
690            3
860            3
470            3
700            3
490            3
650            3
410            3
270            3
630            3
590            3
730            3
230            3
360            3
260            3
300            3
710            3
970            3
1200           2
1300           2
770            2
340            2
1100           2
660            2
560            2
650            2
590            2
410            2
240            2
510            2
470            2
670            2
400            2
450            2
580            2
430            2
600            2
390            2
420            2
520            2
520            2
620            2
400            2
1500           1
490            1
560            1
350            1
370            1
760            1
1400           1
730            1
440            1
330            1
500            1
740            1
480            1
830            1
710            1
980            1
820            1
900            1
660            1
830            1
510            1
720            1
820            1
890            1
630            1
550            1
540            1
960            1
740            1
940            1
900            1
780            1
1500           1
280            1
790            1
610            1
990            1
780            1
530            1
800            1
570            1
Name: 面積（㎡）, dtype: int64

In [13]:
df['面積（㎡）']=df['面積（㎡）'].replace({'2000㎡以上':2000}).astype(float)

In [14]:
df['建築年'].value_counts().keys()[1].split('平成')[1].split('年')[0]

'20'

In [15]:
year_rep={}

for i in df['建築年'].value_counts().keys():
    if '平成' in i:
        num=float(i.split('平成')[1].split('年')[0])
        year=33-num
    if '昭和' in i:
        num=float(i.split('昭和')[1].split('年')[0])
        year=96-num    
    if '令和' in i:
        num=float(i.split('令和')[1].split('年')[0])
        year=3-num 
    year_rep[i]=year
    year_rep['戦前']=76
df['建築年']=df['建築年'].replace(year_rep).astype(float)

In [16]:
df['建築年'].value_counts()

30.0    21982
13.0    21947
15.0    21719
14.0    21398
23.0    20749
18.0    20732
21.0    20551
16.0    20465
26.0    20426
31.0    19921
25.0    19534
19.0    19468
24.0    18887
20.0    18749
22.0    18570
17.0    18359
32.0    16886
29.0    16114
33.0    16009
12.0    15380
27.0    14287
34.0    13899
37.0    13736
36.0    13244
35.0    12658
47.0    11660
28.0    10759
11.0     9814
42.0     8801
39.0     8710
41.0     8566
40.0     8224
9.0      7813
10.0     7466
48.0     7347
38.0     7004
43.0     6808
8.0      6530
46.0     6427
44.0     5519
7.0      5353
45.0     5203
49.0     4833
6.0      4616
50.0     4297
51.0     3669
5.0      3138
52.0     2197
53.0     2064
4.0      2012
3.0      1272
54.0      876
2.0       712
55.0      590
76.0      556
56.0      197
57.0      147
58.0       48
1.0        32
59.0       29
62.0       21
74.0       21
60.0       17
75.0       16
63.0       12
68.0       11
71.0       11
61.0       10
72.0        7
67.0        7
69.0        6
65.0        5
73.0        5
70.0        4
64.0        3
66.0        2
Name: 建築年, dtype: int64

In [17]:
df['取引時点'].value_counts().keys()

Index(['2014年第１四半期', '2017年第１四半期', '2015年第１四半期', '2013年第１四半期', '2013年第２四半期',
       '2018年第１四半期', '2016年第１四半期', '2019年第２四半期', '2016年第２四半期', '2019年第１四半期',
       '2010年第４四半期', '2019年第３四半期', '2015年第２四半期', '2018年第４四半期', '2011年第１四半期',
       '2017年第４四半期', '2015年第４四半期', '2018年第２四半期', '2015年第３四半期', '2016年第３四半期',
       '2017年第３四半期', '2010年第３四半期', '2013年第４四半期', '2016年第４四半期', '2014年第４四半期',
       '2013年第３四半期', '2019年第４四半期', '2018年第３四半期', '2010年第１四半期', '2017年第２四半期',
       '2012年第４四半期', '2012年第１四半期', '2014年第３四半期', '2010年第２四半期', '2014年第２四半期',
       '2009年第４四半期', '2012年第２四半期', '2009年第３四半期', '2012年第３四半期', '2011年第４四半期',
       '2009年第２四半期', '2011年第３四半期', '2009年第１四半期', '2011年第２四半期', '2008年第３四半期',
       '2008年第４四半期', '2008年第２四半期', '2008年第１四半期', '2007年第４四半期', '2007年第２四半期',
       '2007年第３四半期', '2007年第１四半期', '2006年第４四半期', '2006年第３四半期', '2006年第２四半期',
       '2006年第１四半期', '2005年第４四半期', '2005年第３四半期'],
      dtype='object')

In [18]:
year={
'年第１四半期':'.25',
'年第２四半期':'.50',
'年第３四半期':'.75',
'年第４四半期':'.99'

}

In [21]:
year_list={}

for i in df['取引時点'].value_counts().keys():
    for k,j in year.items():
        if k in i:
            year_rep=i.replace(k,j)
    year_list[i]=year_rep
    
df['取引時点']=df['取引時点'].replace(year_list).astype(float)

In [ ]:
fig,axes=plt.subplots(2,2,figsize=(12,20))

axes[0][0].hist(df['建築年'],bins=20)
axes[0][1].hist(df['面積（㎡）'],bins=200)
axes[1][0].hist(df['最寄駅：距離（分）'],bins=20)
axes[1][1].hist(df['取引価格（総額）_log'],bins=20)

In [ ]:
fig,axes=plt.subplots(3,1,figsize=(10,10))

axes[0].scatter(df['建築年'],df['取引価格（総額）_log'],alpha=0.1)
axes[1].scatter(df['面積（㎡）'],df['取引価格（総額）_log'],alpha=0.1)
axes[2].scatter(df['最寄駅：距離（分）'],df['取引価格（総額）_log'],alpha=0.1)

In [ ]:
df[['建築年','面積（㎡）','最寄駅：距離（分）','取引価格（総額）_log']].corr()